<li
	class="cursor-move bg-base-200 rounded-lg w-full"
	cdkDrag
	(cdkDragEnded)="dragEnded($event)"
	(click)="clicked.emit(flowTest)">
	@let testHistory = testManager.flowTestRunHistory()[flowTest.flow.id][flowTest.test.id];

	<div
		class="flex flex-col items-start justify-center p-2 px-4 rounded-lg w-full"
		[class.text-white]="showLinkWarning"
		[ngClass]="{
			'bg-success-content ': testHistory.success,
			'bg-error-content ': testHistory.error,
			'bg-warning-content ': showLinkWarning,
			'text-white': testHistory.error || testHistory.success || showLinkWarning
		}">
		<span class="flex justify-between w-full pt-1.5">
			<p [class.text-warning]="showLinkWarning" [class.text-xl]="showLinkWarning" class="pb-2">
				{{ flowTest.test.name }}
			</p>

			<div class="flex flex-col space-y-2">
				<label class="cursor-pointer label flex justify-between space-x-2">
					<small class="label-text">Force Go to</small>
					<input
						type="checkbox"
						checked="checked"
						class="checkbox checkbox-accent checkbox-sm"
						[(ngModel)]="flowTest.forceGoto" />
				</label>

				<label class="cursor-pointer label flex justify-between space-x-2">
					<small class="label-text">Use New Window</small>
					<input
						type="checkbox"
						checked="checked"
						class="checkbox checkbox-accent checkbox-sm"
						[(ngModel)]="flowTest.openInNewContext" />
				</label>
			</div>
		</span>
		<small class="text-xs font-thin text-pretty text-inherit pb-1">
			{{ flowTest.test.description }}
		</small>

		@if(showLinkWarning) {

		<span class="w-full text-md whitespace-break-spaces text-warning">
			<div class="font-bold">*Warning</div>
			<small class="text-warning italic font-thin">
				<strong>Start URL does not match previous test end URL</strong>
				, this may cause your flow to break!
			</small>
		</span>

		}
		<div class="flex flex-col w-full text-xs">
			<div
				[class.text-warning]="showLinkWarning"
				class="hover:bg-base-300 hover:text-white hover:scale-110 cursor-pointer p-1 w-fit rounded-md"
				(click)="copyText(flowTest.test.startUrl)">
				<ng-icon name="heroClipboard"></ng-icon>
				Start:
				<small>
					{{ flowTest.test.startUrl }}
				</small>
			</div>
			<div
				class="hover:bg-base-300 hover:text-white hover:scale-110 cursor-pointer p-1 w-fit rounded-md"
				(click)="copyText(flowTest.test.endUrl)">
				<ng-icon name="heroClipboard"></ng-icon>
				End:
				<small>
					{{ flowTest.test.endUrl }}
				</small>
			</div>
		</div>

		@if(testHistory.error) {
		<div class="mockup-code w-full">
			<pre class="max-w-full overflow-x-auto whitespace-pre-wrap h-fit">
					<code class="pl-8">{{ testHistory.error }}</code>
				</pre>
		</div>
		}
	</div>
</li>
