<div [class.bg-accent]="dragging" [class.bg-base-300]="!dragging" class="w-full overflow-auto rounded-lg p-4 flex">
	<ul class="steps steps-vertical overflow-hidden">
		@for(flowTest of flow.flowTests; track $index) {
		<li
			class="step step-primary"
			[ngClass]="{
				'step-success': flowStatusHistory()[flowTest.id] === 'success',
				'step-error': flowStatusHistory()[flowTest.id] === 'failure',
				'step-warning': !isPrevFlowLinkValid($index)
			}"></li>
		}
	</ul>
	<ul
		class="flex flex-col gap-2 min-h-[10vh] w-full"
		cdkDropList
		id="selectedTestsList"
		#selectedTestsList="cdkDropList"
		[cdkDropListData]="flow.flowTests"
		[cdkDropListConnectedTo]="['availableTestsList']"
		(cdkDropListDropped)="drop($event)">
		@for(flowTest of flow.flowTests; track $index) {
		<div class="flex gap-2 items-center p-2 w-full">
			<div class="indicator w-full">
				<span
					class="indicator-item badge text-error font-bold badge-base-100 hover:text-white hover:badge-error cursor-pointer px-1.5 rounded-full"
					(click)="removeTest(flowTest)">
					<ng-icon name="heroMinusCircle"></ng-icon>
				</span>
				<app-flow-test-list-item
					class="w-full"
					[flowTest]="flowTest"
					[showLinkWarning]="!isPrevFlowLinkValid($index)"></app-flow-test-list-item>
			</div>
		</div>
		} @if(flow.flowTests.length <= 0) {
		<div class="flex flex-col justify-center items-center grow">
			<h3 class="text-accent-100 text-md">(Drag in tests from the sidebar to add them to the flow.)</h3>
		</div>

		}
	</ul>
</div>
