.success{
    color: white !important;
    background-color: var(--color-success-content);
}

.error{
    color: white !important;
    background-color: var(--color-error-content);
}

.warning{
    color: white !important;
    background-color: var(--color-warning-content);
}